*{
    padding: 0px;
    margin: 0px;
}

.formsection{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../assets/images/Background.png);
    background-size: cover;
}

.section-content{
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.main-form{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: min(400px,80%);
}
.main-form::after{
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background-color: #03FFF0;
    z-index: 0;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 90px), calc(100% - 90px) 100%, 0 100%);
}

.form-container{
    position: relative;
    background-color: #111521;
    width: min(400px,100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    z-index: 2;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 90px), calc(100% - 90px) 100%, 0 100%);
}

.form-text{
    display: flex;
    width: 100%;
    text-align: start;
}

.form-heading1{
    position: relative;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
}
.form-heading1::after{
    content: '';
    position: absolute;
    left: 0;
    width: 108%;
    bottom: -2px;
    height: 1px;
    background-color: #59C3AF;
}

.form-input-space{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
}

.from-input-space{
    font-size: 15px;
    width: min(350px,100%);
    background-color: #1F2632;
    padding: .15rem .8rem;
    min-height: 40px;
    outline: none;
    border: none;
    line-height: 1.15;
    transition: ease;
    color: white;
}
::placeholder{
    padding-left: 2px;
    font-style: italic;
    font-family:'Raleway', sans-serif;
    color: #989898;
  }

.form-input-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}


.formbuttonbox{
    margin-top: 30px;
    align-self: start;
}

.formbutton {
    padding: 15px 60px 15px 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    font-style: italic;
    font-weight: 600;
    color: #111521;
    background-color: #65DAD1;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25px), calc(100% - 25px) 100%, 0 100%);
  }
  .formbutton:hover {
    transform: translateY(-7px);
  }
  
  .formbutton:active {
    transform: translateY(-1px);
  }


.varchas-logo{
    margin-top: 60px;
    margin-bottom: 60px;
    width: min(800px,130%);
    aspect-ratio: auto;
}

.logos-carousel{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    z-index: 0;
}


.logo-slider{
    display: inline-block;
    animation: 50s slide infinite linear;
}

.carousel-logo{
    aspect-ratio: auto;
    height: 400px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to{
        transform: translateX(-100%);
    }
}

@media (max-width: 768px){
    .form-container{
        padding: 20px;
    }
}